.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
  background-color: #8EE4AF;
}

.mt-5 .container {
background-color: #8EE4AF;
}

.done {
  color: silver;
  text-decoration: line-through;
}

input[type='date'].disabled::-webkit-inner-spin-button {
  display: none;
}

.content {
  overflow: auto;
  height: 500px;
  max-height: 500px;
  
}

.container {
  background-color: white;
  color: #05386B;
  border-style: solid;
  border-color: #379683;
  position: centered;
  margin-top: 50px;
}

.nav-wrapper {
  background-color: #8EE4AF;
  font-family: Andale Mono, monospace;
  color: #05386B;
}

.brand-logo {
  color: #379683;
}

.btn {
  background-color: #8EE4AF;
  color: #379683;
}

.row {
  margin-right: 20px;
}

